<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Permission | Remibo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="logo">
      <img src="/assets/logo_w.png" />
    </div>
    <div class="container flex">
      <div class="flex reverse">
        <div class="image">
          <img src="/assets/verified.svg" />
        </div>
        <h1>
          <span class="highlight high1">Yooo!!</span> You didn't gave me
          <span class="highlight high2"> the permission</span> to help you :(
        </h1>
      </div>
    </div>
  </body>
</html>
