<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verified | Remibo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="logo">
      <img src="/assets/logo_w.png" />
    </div>
    <div class="container flex">
      <div class="flex">
        <h1>
          <span class="highlight high2">Hehe!!</span> You are
          <span class="highlight high1">Among Us</span> now and not a sus
        </h1>
      </div>
      <div class="image">
        <img src="/assets/special.svg" />
      </div>
    </div>
  </body>
</html>
