<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FAVICON -->
    <link
      type="image/jpg"
      rel="shortcut icon"
      href="/assets/favicon/favicon.ico"
    />
    <link
      type="image/png"
      href="/assets/favicon/apple-touch-icon.png"
      rel="apple-touch-icon"
    />
    <link
      type="image/png"
      href="/assets/favicon/android-chrome-192x192.png"
      rel="icon"
      sizes="192x192"
    />
    <link
      type="image/png"
      href="/assets/favicon/android-chrome-512x512.png"
      rel="icon"
      sizes="512x512"
    />
    <link
      type="image/png"
      href="/assets/favicon/favicon-16x16.png"
      rel="icon"
      sizes="16x16"
    />
    <link
      type="image/png"
      href="/assets/favicon/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
    />
    <!-- /FAVICON -->
    <title>Welcome to Remibo 🎉🎉🎉</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;400;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="logo">
      <img src="/assets/logo_w.png" />
    </div>
    <div class="container flex">
      <div class="flex">
        <h1>
          Hello I'm <span class="highlight high2">Remibo</span> and I'm
          <span class="google gColor1">G</span
          ><span class="google gColor2">o</span
          ><span class="google gColor3">o</span
          ><span class="google gColor4">g</span
          ><span class="google gColor5">l</span
          ><span class="google gColor6">e</span>
          OAuthed
          <span class="highlight high1">Reminder Bot</span>.
        </h1>
      </div>
      <div class="image">
        <img src="/assets/building.svg" />
      </div>
    </div>
  </body>
</html>
